body {
}


.end {
    display:block;
}
#page {
    width: 70%;
    margin:0 auto;

}

#container {
    margin:0 auto;
}
.error {
    color:red;
}

.editor-label {
    font-weight:bold;
    margin-top:10px;
}
.validation-summary-errors {
    color:red;
}

